PORT=5000
PGHOST=127.0.0.1
PGPORT=5432
PGDATABASE=smart_pool
PGUSER=smart_pool
PGPASSWORD=
ADMIN_KEY=
PAYMENT_MODE=simulate
PAYMENT_COUNTRY_CODE=256
MTN_BASE_URL=https://sandbox.momodeveloper.mtn.com
MTN_TARGET_ENVIRONMENT=sandbox
MTN_CURRENCY=EUR
MTN_SUBSCRIPTION_KEY=
MTN_API_USER=
MTN_API_KEY=
AIRTEL_BASE_URL=https://openapiuat.airtel.africa
AIRTEL_CLIENT_ID=
AIRTEL_CLIENT_SECRET=
AIRTEL_COUNTRY=UG
AIRTEL_CURRENCY=UGX
